<div class="resume-well">
  <!-- About this site section -->
  <div class="row resume-heading align-center">
    <div class="col-lg-12">What is this website built with ?</div>
  </div>
  <div class="row resume-row">
    <div class="col-lg-12">
      <p>
        It is built with <b>node.js</b>, <b>express</b>, and <b>redis</b> (back-end), <b>backbone.js</b>, <b>jQuery</b>, <b>underscore.js</b>, <b>Bootstrap</b> and <b>Bootflat</b>, <b>Font Awesome</b>, and <b>gulp</b> (front-end).
      </p>
      <p>
        I use <b>docker</b> to deploy the website after I update it and <b>nginx</b> when I need virtualhosts.
      </p>
    </div>
  </div>
</div>

<hr class="separator"/>
