<div class="resume-well" data-bind="with: educationViewModel">
  <div class="row resume-heading">
    <div class="col-lg-12 align-center">Education</div>
  </div>
  <div class="row resume-row">
    <div class="col-lg-2">
      <div class="resume-padding-18">
        <b data-bind="text: collegeDate"></b>
      </div>
    </div>
    <div class="col-lg-10">
      <div class="resume-padding-18" style="border-left: 3px solid lightgrey">
      <p data-bind="html: collegeDescription"></p>
      </div>
    </div>
  </div>

  <div class="row resume-row">
    <div class="col-lg-2">
      <div class="resume-padding-18">
        <b>Languages</b>
      </div>
    </div>
    <div class="col-lg-10">
      <div class="resume-padding-18" style="border-left: 3px solid lightgrey">
      <p data-bind="html: languages"></p>
      </div>
    </div>
  </div>

  <div class="row resume-row">
    <div class="col-lg-2">
      <div class="resume-padding-18">
        <b>Computer Science</b>
      </div>
    </div>
    <div class="col-lg-10">
      <div class="resume-padding-18" style="border-left: 3px solid lightgrey">
      <p data-bind="html: computers"></p>
      </div>
    </div>
  </div>
</div>

<hr class="separator"/>
