<div class="resume-well" data-bind="with: interestsViewModel">
  <!-- Interests section -->
  <div class="row resume-heading align-center">
    <div class="col-lg-12">Topics of interests</div>
  </div>
  <div class="row resume-row">
    <div class="col-lg-12">
      <p data-bind="text: interests"></p>
    </div>
  </div>
</div>

<hr class="separator"/>
